In [1]:
import pandas as pd

In [3]:
from tqdm import tqdm
tqdm.pandas()

In [1]:
from konlpy.tag import Okt

In [2]:
okt = Okt()

In [2]:
community_df = pd.read_csv('toss_crawling_1m.csv')

In [6]:
community_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81072 entries, 0 to 81071
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   닉네임     81072 non-null  object
 1   날짜      81072 non-null  object
 2   내용      81072 non-null  object
 3   종목      81072 non-null  object
dtypes: object(4)
memory usage: 2.5+ MB

In [7]:
okt?

Type:        Okt
String form: <konlpy.tag._okt.Okt object at 0x00000118C98D6960>
File:        d:\kdt\anaconda3\lib\site-packages\konlpy\tag\_okt.py
Docstring:
Wrapper for `Open Korean Text <https://github.com/open-korean-text/open-korean-text>`_.

Open Korean Text is an open source Korean tokenizer written in Scala,
developed by Will Hohyon Ryu.

.. code-block:: python

    >>> from konlpy.tag import Okt
    >>> okt = Okt()
    >>> print(okt.morphs(u'단독입찰보다 복수입찰의 경우'))
    ['단독', '입찰', '보다', '복수', '입찰', '의', '경우']
    >>> print(okt.nouns(u'유일하게 항공기 체계 종합개발 경험을 갖고 있는 KAI는'))
    ['항공기', '체계', '종합', '개발', '경험']
    >>> print(okt.phrases(u'날카로운 분석과 신뢰감 있는 진행으로'))
    ['날카로운 분석', '날카로운 분석과 신뢰감', '날카로운 분석과 신뢰감 있는 진행', '분석', '신뢰', '진행']
    >>> print(okt.pos(u'이것도 되나욬ㅋㅋ'))
    [('이', 'Determiner'), ('것', 'Noun'), ('도', 'Josa'), ('되나욬', 'Noun'), ('ㅋㅋ', 'KoreanParticle')]
    >>> print(okt.pos(u'이것도 되나욬ㅋㅋ', norm=True))
    [('이', 'Determiner'), ('것', 'Noun'), ('도', 'Josa'), ('되나요', 'Verb'), ('ㅋㅋ', 'KoreanParticle')]
    >>> print(okt.pos(u'이것도 되나욬ㅋㅋ', norm=True, stem=True))
    [('이', 'Determiner'), ('것', 'Noun'), ('도', 'Josa'), ('되다', 'Verb'), ('ㅋㅋ', 'KoreanParticle')]

:param jvmpath: The path of the JVM passed to :py:func:`.init_jvm`.
:param max_heap_size: Maximum memory usage limitation (Megabyte) :py:func:`.init_jvm`.

In [13]:
print(okt.pos(community_df.head(1)['내용'].values[0]))

[('-', 'Punctuation'), ('디자인', 'Noun'), ('변화', 'Noun'), (':', 'Punctuation'), ('S', 'Alpha'), ('25', 'Number'), ('울트라', 'Noun'), ('는', 'Josa'), ('기존', 'Noun'), ('의', 'Josa'), ('각', 'Modifier'), ('진', 'Noun'), ('디자인', 'Noun'), ('에서', 'Josa'), ('둥근', 'Adjective'), ('모서리', 'Noun'), ('로', 'Josa'), ('변경', 'Noun'), ('되었으며', 'Verb'), (',', 'Punctuation'), ('카메라', 'Noun'), ('모듈', 'Noun'), ('디자인', 'Noun'), ('에도', 'Josa'), ('변화', 'Noun'), ('가', 'Josa'), ('있습니다', 'Adjective'), ('.', 'Punctuation'), ('S', 'Alpha'), ('25', 'Number'), ('와', 'Verb'), ('S', 'Alpha'), ('25', 'Number'), ('플러스', 'Noun'), ('는', 'Josa'), ('외관', 'Noun'), ('상', 'Suffix'), ('크기', 'Noun'), ('차이', 'Noun'), ('외', 'Noun'), ('에는', 'Josa'), ('거의', 'Noun'), ('동일한', 'Adjective'), ('디자인', 'Noun'), ('으로', 'Josa'), ('보입니다', 'Verb'), ('.', 'Punctuation'), ('\n\n', 'Foreign'), ('-', 'Punctuation'), ('프로세서', 'Noun'), (':', 'Punctuation'), ('전', 'Noun'), ('모델', 'Noun'), ('갤럭시', 'Noun'), ('용', 'Noun'), ('퀄컴', 'Noun'), ('스냅드래곤', 'Noun'), ('8', 'Number'), ('엘리트', 'Noun'), ('칩셋', 'Noun'), ('탑재', 'Noun'), ('\n\n', 'Foreign'), ('-', 'Punctuation'), ('기본', 'Noun'), ('RAM', 'Alpha'), ('용량', 'Noun'), ('증가', 'Noun'), (':', 'Punctuation'), ('전', 'Noun'), ('모델', 'Noun'), ('기본', 'Noun'), ('12', 'Number'), ('GB', 'Alpha'), ('RAM', 'Alpha'), ('탑재', 'Noun'), ('(', 'Punctuation'), ('울트라', 'Noun'), ('모델', 'Noun'), ('은', 'Josa'), ('일부', 'Noun'), ('지역', 'Noun'), ('에서', 'Josa'), ('16', 'Number'), ('GB', 'Alpha'), ('RAM', 'Alpha'), ('탑재', 'Noun'), ('가능성', 'Noun'), ('있음', 'Adjective'), (')', 'Punctuation'), ('\n\n', 'Foreign'), ('-', 'Punctuation'), ('One', 'Alpha'), ('UI', 'Alpha'), ('7', 'Number'), ('및', 'Noun'), ('Android', 'Alpha'), ('15', 'Number'), (':', 'Punctuation'), ('최신', 'Noun'), ('운영체제', 'Noun'), ('및', 'Noun'), ('사용자', 'Noun'), ('인터페이스', 'Noun'), ('탑재', 'Noun'), ('\n\n', 'Foreign'), ('-', 'Punctuation'), ('통신', 'Noun'), (':', 'Punctuation'), ('Wi', 'Alpha'), ('-', 'Punctuation'), ('Fi', 'Alpha'), ('7', 'Number'), ('및', 'Noun'), ('Bluetooth', 'Alpha'), ('5.3', 'Number'), ('지원', 'Noun'), ('\n\n', 'Foreign'), ('https://m.blog.naver.com/grok_newsfeed/223722891228', 'URL')]

In [14]:
contents = community_df['내용']

In [36]:
community_df.describe()

           닉네임                         날짜     내용     종목
count    81072                      81072  81072  81072
unique   24593                      75710  74750    537
top     특징주알리미  2025-01-02T10:22:42+09:00      .   5930
freq       306                          5    260  10263

In [37]:
community_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81072 entries, 0 to 81071
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   닉네임     81072 non-null  object
 1   날짜      81072 non-null  object
 2   내용      81072 non-null  object
 3   종목      81072 non-null  object
dtypes: object(4)
memory usage: 2.5+ MB

In [39]:
community_df['내용'].isna().sum()

0

In [15]:
contents

0        - 디자인 변화: S25 울트라는 기존의 각진 디자인에서 둥근 모서리로 변경되었으며...
1        7만원 8만원에 물려있는게 대부분이라 7만원까지 혹여 올라도 물려있던분들은 원금 회...
2        분할매수하기에 좋은 타점이지만.. 얘는 너무느리고 오래걸린다 얘를살바에 살게 너무많...
3                                               존버하면 오르겠죠?
4                            오를 겁니다. 제가 오늘 열심히 일하고 퇴근했습니다.
                               ...
81067                                연저펀 모으고있는데\n너무 좋네요 ㅎㅎ
81068          이것도 지수추종인가요? 테슬라랑 sp500결합한건가 지금 들어오는거 괜찮겠죠?
81069                                  테슬라 3000불 갈 때 까지 홀딩
81070                   퇴직연금 첫 투자!\n안전자산 30%는 이 친구로 결정했습니닷
81071                             2만원가즈아 테슬라\n요새 날라가잖니^^;;
Name: 내용, Length: 81072, dtype: object

In [31]:
# 내용 토큰화 : 명사, 형용사, 부사, 동사 추출
def extract_tokens(text):
    noun_list = []
    adjective_list = []
    adverb_list = []
    verb_list = []
    tokens = okt.pos(text)
    # 명사(Noun), 형용사(Adjective), 부사(Adverb), 동사(Verb) 만 필터링
    
    for word, pos in tokens : 
        if pos == 'Noun' :
            noun_list.append(word)
        elif pos == 'Adjective' : 
            adjective_list.append(word)
        elif pos == 'Adverb' :
            adverb_list.append(word)
        elif pos == 'Verb':
            verb_list.append(word)    
        else : 
            continue
    
    tokens_dict = {
        '내용_명사' : noun_list,
        '내용_형용사' : adjective_list,
        '내용_부사' : adverb_list,
        '내용_동사' : verb_list
    }
    
    return tokens_dict

In [30]:
# 데이터 프레임에 내용_명사/ 내용_형용사/ 내용_부사/ 내용_동사 열 추가
def insert_token_list(df):
    
    # 원본 데이터프레임의 복사본 생성
    df_copy = df.copy()
    
    # 토큰화 결과를 저장할 리스트 초기화
    noun_list = []
    adjective_list = []
    adverb_list = []
    verb_list = []

    # DataFrame의 '내용' 열을 순회
    for content in df_copy['내용'].values:
        token_dict = extract_tokens(content)                   # 각 내용에 대해 토큰화 수행
        noun_list.append(token_dict['내용_명사'])               # 명사 리스트에 추가
        adjective_list.append(token_dict['내용_형용사'])        # 형용사 리스트에 추가
        adverb_list.append(token_dict['내용_부사'])             # 부사 리스트에 추가
        verb_list.append(token_dict['내용_동사'])               # 동사 리스트에 추가

    # DataFrame에 새로운 열 추가
    df_copy['내용_명사'] = noun_list
    df_copy['내용_형용사'] = adjective_list
    df_copy['내용_부사'] = adverb_list
    df_copy['내용_동사'] = verb_list
    
    return df_copy

In [35]:
df = insert_token_list(community_df.head(5))
df.head()

,닉네임,날짜,내용,종목,내용_명사,내용_형용사,내용_부사,내용_동사
0,GROK,2025-01-11T22:59:18+09:00,- 디자인 변화: S25 울트라는 기존의 각진 디자인에서 둥근 모서리로 변경되었으며...,5930,"[디자인, 변화, 울트라, 기존, 진, 디자인, 모서리, 변경, 카메라, 모듈, 디...","[둥근, 있습니다, 동일한, 있음]",[],"[되었으며, 와, 보입니다]"
1,공감아,2025-01-11T22:47:22+09:00,7만원 8만원에 물려있는게 대부분이라 7만원까지 혹여 올라도 물려있던분들은 원금 회...,5930,"[대부분, 혹, 던, 원금, 회복, 시, 다시, 풀, 매도, 다시]",[],[],"[물려있는게, 올라도, 물려있]"
2,곰돌이와콩이,2025-01-11T22:41:04+09:00,분할매수하기에 좋은 타점이지만.. 얘는 너무느리고 오래걸린다 얘를살바에 살게 너무많...,5930,"[분할, 타점, 얘, 얘, 살바, 살, 단점]","[좋은, 느리고, 많다는]","[너무, 오래, 너무]","[매수하기에, 걸린다]"
3,김브래,2025-01-11T21:31:55+09:00,존버하면 오르겠죠?,5930,[존버하],[],[],[오르겠죠]
4,김보리씨,2025-01-11T21:07:54+09:00,오를 겁니다. 제가 오늘 열심히 일하고 퇴근했습니다.,5930,"[제, 오늘, 일, 퇴근]",[],[열심히],"[오를, 겁니다, 했습니다]"

In [29]:
community_df.head(2)

,닉네임,날짜,내용,종목
0,GROK,2025-01-11T22:59:18+09:00,- 디자인 변화: S25 울트라는 기존의 각진 디자인에서 둥근 모서리로 변경되었으며...,5930
1,공감아,2025-01-11T22:47:22+09:00,7만원 8만원에 물려있는게 대부분이라 7만원까지 혹여 올라도 물려있던분들은 원금 회...,5930

In [20]:
token = extract_tokens(community_df.head(1)['내용'].values[0])
token

{'내용_명사': ['디자인',
  '변화',
  '울트라',
  '기존',
  '진',
  '디자인',
  '모서리',
  '변경',
  '카메라',
  '모듈',
  '디자인',
  '변화',
  '플러스',
  '외관',
  '크기',
  '차이',
  '외',
  '거의',
  '디자인',
  '프로세서',
  '전',
  '모델',
  '갤럭시',
  '용',
  '퀄컴',
  '스냅드래곤',
  '엘리트',
  '칩셋',
  '탑재',
  '기본',
  '용량',
  '증가',
  '전',
  '모델',
  '기본',
  '탑재',
  '울트라',
  '모델',
  '일부',
  '지역',
  '탑재',
  '가능성',
  '및',
  '최신',
  '운영체제',
  '및',
  '사용자',
  '인터페이스',
  '탑재',
  '통신',
  '및',
  '지원'],
 '내용_형용사': ['둥근', '있습니다', '동일한', '있음'],
 '내용_부사': []}

In [ ]:
# 모든 리스트를 하나의 리스트로 평탄화
flat_list = [item for sublist in df['내용_명사'] for item in sublist]

# 고유한 값 찾기
unique_nouns = set(flat_list)
print(unique_nouns)

In [ ]:
# 리스트를 문자열로 변환
df['내용_명사_str'] = df['내용_명사'].apply(lambda x: ', '.join(x) if isinstance(x, list) else str(x))
# 고유한 값 찾기
unique_nouns = df['내용_명사_str'].unique()
print(unique_nouns)

In [ ]:
# 리스트를 문자열로 변환
df['내용_형용사_str'] = df['내용_형용사'].apply(lambda x: ', '.join(x) if isinstance(x, list) else str(x))
# 고유한 값
unique_adjectives = df['내용_형용사_str'].unique()
print(unique_adjectives)

In [ ]:
# 리스트를 문자열로 변환
df['내용_부사_str'] = df['내용_부사'].apply(lambda x: ', '.join(x) if isinstance(x, list) else str(x))
# 고유한 값
unique_adverbs = df['내용_부사_str'].unique()
print(unique_adverbs)

In [ ]:
# 리스트를 문자열로 변환
df['내용_동사_str'] = df['내용_동사'].apply(lambda x: ', '.join(x) if isinstance(x, list) else str(x))
# 고유한 값
unique_verbs = df['내용_동사_str'].unique()
print(unique_verbs)

In [7]:
dict(okt)

TypeError: 'Okt' object is not iterable