In [1]:
import pandas as pd

In [14]:
import numpy as np

In [2]:
from tqdm import tqdm
tqdm.pandas()

In [3]:
from konlpy.tag import Okt

In [4]:
okt = Okt()

In [5]:
community_df = pd.read_csv('toss_crawling_1m.csv')

In [6]:
community_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81072 entries, 0 to 81071
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   닉네임     81072 non-null  object
 1   날짜      81072 non-null  object
 2   내용      81072 non-null  object
 3   종목      81072 non-null  object
dtypes: object(4)
memory usage: 2.5+ MB

In [7]:
print(okt.pos(community_df.head(1)['내용'].values[0]))

[('-', 'Punctuation'), ('디자인', 'Noun'), ('변화', 'Noun'), (':', 'Punctuation'), ('S', 'Alpha'), ('25', 'Number'), ('울트라', 'Noun'), ('는', 'Josa'), ('기존', 'Noun'), ('의', 'Josa'), ('각', 'Modifier'), ('진', 'Noun'), ('디자인', 'Noun'), ('에서', 'Josa'), ('둥근', 'Adjective'), ('모서리', 'Noun'), ('로', 'Josa'), ('변경', 'Noun'), ('되었으며', 'Verb'), (',', 'Punctuation'), ('카메라', 'Noun'), ('모듈', 'Noun'), ('디자인', 'Noun'), ('에도', 'Josa'), ('변화', 'Noun'), ('가', 'Josa'), ('있습니다', 'Adjective'), ('.', 'Punctuation'), ('S', 'Alpha'), ('25', 'Number'), ('와', 'Verb'), ('S', 'Alpha'), ('25', 'Number'), ('플러스', 'Noun'), ('는', 'Josa'), ('외관', 'Noun'), ('상', 'Suffix'), ('크기', 'Noun'), ('차이', 'Noun'), ('외', 'Noun'), ('에는', 'Josa'), ('거의', 'Noun'), ('동일한', 'Adjective'), ('디자인', 'Noun'), ('으로', 'Josa'), ('보입니다', 'Verb'), ('.', 'Punctuation'), ('\n\n', 'Foreign'), ('-', 'Punctuation'), ('프로세서', 'Noun'), (':', 'Punctuation'), ('전', 'Noun'), ('모델', 'Noun'), ('갤럭시', 'Noun'), ('용', 'Noun'), ('퀄컴', 'Noun'), ('스냅드래곤', 'Noun'), ('8', 'Number'), ('엘리트', 'Noun'), ('칩셋', 'Noun'), ('탑재', 'Noun'), ('\n\n', 'Foreign'), ('-', 'Punctuation'), ('기본', 'Noun'), ('RAM', 'Alpha'), ('용량', 'Noun'), ('증가', 'Noun'), (':', 'Punctuation'), ('전', 'Noun'), ('모델', 'Noun'), ('기본', 'Noun'), ('12', 'Number'), ('GB', 'Alpha'), ('RAM', 'Alpha'), ('탑재', 'Noun'), ('(', 'Punctuation'), ('울트라', 'Noun'), ('모델', 'Noun'), ('은', 'Josa'), ('일부', 'Noun'), ('지역', 'Noun'), ('에서', 'Josa'), ('16', 'Number'), ('GB', 'Alpha'), ('RAM', 'Alpha'), ('탑재', 'Noun'), ('가능성', 'Noun'), ('있음', 'Adjective'), (')', 'Punctuation'), ('\n\n', 'Foreign'), ('-', 'Punctuation'), ('One', 'Alpha'), ('UI', 'Alpha'), ('7', 'Number'), ('및', 'Noun'), ('Android', 'Alpha'), ('15', 'Number'), (':', 'Punctuation'), ('최신', 'Noun'), ('운영체제', 'Noun'), ('및', 'Noun'), ('사용자', 'Noun'), ('인터페이스', 'Noun'), ('탑재', 'Noun'), ('\n\n', 'Foreign'), ('-', 'Punctuation'), ('통신', 'Noun'), (':', 'Punctuation'), ('Wi', 'Alpha'), ('-', 'Punctuation'), ('Fi', 'Alpha'), ('7', 'Number'), ('및', 'Noun'), ('Bluetooth', 'Alpha'), ('5.3', 'Number'), ('지원', 'Noun'), ('\n\n', 'Foreign'), ('https://m.blog.naver.com/grok_newsfeed/223722891228', 'URL')]

In [8]:
contents = community_df['내용']

In [36]:
community_df.describe()

           닉네임                         날짜     내용     종목
count    81072                      81072  81072  81072
unique   24593                      75710  74750    537
top     특징주알리미  2025-01-02T10:22:42+09:00      .   5930
freq       306                          5    260  10263

In [37]:
community_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81072 entries, 0 to 81071
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   닉네임     81072 non-null  object
 1   날짜      81072 non-null  object
 2   내용      81072 non-null  object
 3   종목      81072 non-null  object
dtypes: object(4)
memory usage: 2.5+ MB

In [10]:
community_df['내용'].nunique()

74750

In [11]:
community_df.drop_duplicates(subset=['내용'], inplace=True)

In [12]:
print('총 샘플의 수 :',len(community_df))

총 샘플의 수 : 74750

In [15]:
community_df['내용'] = community_df['내용'].str.replace('^ +', "", regex=True) # white space 데이터를 empty value로 변경
community_df['내용'].replace('', np.nan, inplace=True)
print(community_df.isnull().sum())

닉네임    0
날짜     0
내용     0
종목     0
dtype: int64

C:\Users\hydrl\AppData\Local\Temp\ipykernel_18628\850737391.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  community_df['내용'].replace('', np.nan, inplace=True)

In [16]:
X_train = []
for sentence in tqdm(community_df['내용']):
    tokenized_sentence = okt.morphs(sentence, stem=True) # 토큰화
    X_train.append(tokenized_sentence)

100%|██████████| 74750/74750 [01:33<00:00, 800.37it/s]

In [17]:
print(X_train[:3])

[['-', '디자인', '변화', ':', 'S', '25', '울트라', '는', '기존', '의', '각', '진', '디자인', '에서', '둥글다', '모서리', '로', '변경', '되어다', ',', '카메라', '모듈', '디자인', '에도', '변화', '가', '있다', '.', 'S', '25', '오다', 'S', '25', '플러스', '는', '외관', '상', '크기', '차이', '외', '에는', '거의', '동일하다', '디자인', '으로', '보이다', '.', '\n\n', '-', '프로세서', ':', '전', '모델', '갤럭시', '용', '퀄컴', '스냅드래곤', '8', '엘리트', '칩셋', '탑재', '\n\n', '-', '기본', 'RAM', '용량', '증가', ':', '전', '모델', '기본', '12', 'GB', 'RAM', '탑재', '(', '울트라', '모델', '은', '일부', '지역', '에서', '16', 'GB', 'RAM', '탑재', '가능성', '있다', ')', '\n\n', '-', 'One', 'UI', '7', '및', 'Android', '15', ':', '최신', '운영체제', '및', '사용자', '인터페이스', '탑재', '\n\n', '-', '통신', ':', 'Wi', '-', 'Fi', '7', '및', 'Bluetooth', '5.3', '지원', '\n\n', 'https://m.blog.naver.com/grok_newsfeed/223722891228'], ['7만원', '8만원', '에', '물리다', '대부분', '이라', '7만원', '까지', '혹', '여', '오르다', '물리다', '던', '분들', '은', '원금', '회복', '시', '다시', '풀', '매도', '...', '다시', '4만', '전자'], ['분할', '매다', '좋다', '타점', '이지만', '..', '얘', '는', '너무', '느리다', '오래', '걸리다', '얘', '를', '살바', '에', '살', '게', '너무', '많다', '단점']]

In [19]:
len(X_train)

74750

In [27]:
# '내용_토큰' 열에 X_train의 각 행을 리스트 형태로 추가
community_df['내용_토큰'] = [row for row in X_train]

In [28]:
community_df.head()

,닉네임,날짜,내용,종목,내용_토큰
0,GROK,2025-01-11T22:59:18+09:00,- 디자인 변화: S25 울트라는 기존의 각진 디자인에서 둥근 모서리로 변경되었으며...,5930,"[-, 디자인, 변화, :, S, 25, 울트라, 는, 기존, 의, 각, 진, 디자..."
1,공감아,2025-01-11T22:47:22+09:00,7만원 8만원에 물려있는게 대부분이라 7만원까지 혹여 올라도 물려있던분들은 원금 회...,5930,"[7만원, 8만원, 에, 물리다, 대부분, 이라, 7만원, 까지, 혹, 여, 오르다..."
2,곰돌이와콩이,2025-01-11T22:41:04+09:00,분할매수하기에 좋은 타점이지만.. 얘는 너무느리고 오래걸린다 얘를살바에 살게 너무많...,5930,"[분할, 매다, 좋다, 타점, 이지만, .., 얘, 는, 너무, 느리다, 오래, 걸..."
3,김브래,2025-01-11T21:31:55+09:00,존버하면 오르겠죠?,5930,"[존버하, 면, 오르다, ?]"
4,김보리씨,2025-01-11T21:07:54+09:00,오를 겁니다. 제가 오늘 열심히 일하고 퇴근했습니다.,5930,"[오르다, 겁니다, ., 제, 가, 오늘, 열심히, 일, 하고, 퇴근, 하다, .]"

In [29]:
# 리스트를 문자열로 변환하고 한글만 남기기
community_df['내용_토큰'] = community_df['내용_토큰'].apply(lambda x: ' '.join(x))  # 리스트를 문자열로 변환
community_df['내용_토큰'] = community_df['내용_토큰'].str.replace(r'[^가-힣\s]', '', regex=True)  # 한글과 공백만 남기기

# 한글자 단어 제외
community_df['내용_토큰'] = community_df['내용_토큰'].str.findall(r'\b[가-힣]{2,}\b').apply(lambda x: ' '.join(x))

In [ ]:
community_df['내용_토큰'] = community_df['내용_토큰'].str.replace('^ +', "", regex=True) # white space 데이터를 empty value로 변경
community_df['내용_토큰'].replace('', np.nan, inplace=True)

In [30]:
community_df.head()

,닉네임,날짜,내용,종목,내용_토큰
0,GROK,2025-01-11T22:59:18+09:00,- 디자인 변화: S25 울트라는 기존의 각진 디자인에서 둥근 모서리로 변경되었으며...,5930,디자인 변화 울트라 기존 디자인 에서 둥글다 모서리 변경 되어다 카메라 모듈 디자인...
1,공감아,2025-01-11T22:47:22+09:00,7만원 8만원에 물려있는게 대부분이라 7만원까지 혹여 올라도 물려있던분들은 원금 회...,5930,만원 만원 물리다 대부분 이라 만원 까지 오르다 물리다 분들 원금 회복 다시 매도 ...
2,곰돌이와콩이,2025-01-11T22:41:04+09:00,분할매수하기에 좋은 타점이지만.. 얘는 너무느리고 오래걸린다 얘를살바에 살게 너무많...,5930,분할 매다 좋다 타점 이지만 너무 느리다 오래 걸리다 살바 너무 많다 단점
3,김브래,2025-01-11T21:31:55+09:00,존버하면 오르겠죠?,5930,존버하 오르다
4,김보리씨,2025-01-11T21:07:54+09:00,오를 겁니다. 제가 오늘 열심히 일하고 퇴근했습니다.,5930,오르다 겁니다 오늘 열심히 하고 퇴근 하다

In [40]:
community_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74750 entries, 0 to 81071
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   닉네임     74750 non-null  object
 1   날짜      74750 non-null  object
 2   내용      74750 non-null  object
 3   종목      74750 non-null  object
 4   내용_토큰   74750 non-null  object
dtypes: object(5)
memory usage: 3.4+ MB

In [39]:
print(community_df['내용_토큰'].isnull().sum())  # 원본 DataFrame의 결측값

0

In [41]:
community_df.head(10)

,닉네임,날짜,내용,종목,내용_토큰
0,GROK,2025-01-11T22:59:18+09:00,- 디자인 변화: S25 울트라는 기존의 각진 디자인에서 둥근 모서리로 변경되었으며...,5930,디자인 변화 울트라 기존 디자인 에서 둥글다 모서리 변경 되어다 카메라 모듈 디자인...
1,공감아,2025-01-11T22:47:22+09:00,7만원 8만원에 물려있는게 대부분이라 7만원까지 혹여 올라도 물려있던분들은 원금 회...,5930,만원 만원 물리다 대부분 이라 만원 까지 오르다 물리다 분들 원금 회복 다시 매도 ...
2,곰돌이와콩이,2025-01-11T22:41:04+09:00,분할매수하기에 좋은 타점이지만.. 얘는 너무느리고 오래걸린다 얘를살바에 살게 너무많...,5930,분할 매다 좋다 타점 이지만 너무 느리다 오래 걸리다 살바 너무 많다 단점
3,김브래,2025-01-11T21:31:55+09:00,존버하면 오르겠죠?,5930,존버하 오르다
4,김보리씨,2025-01-11T21:07:54+09:00,오를 겁니다. 제가 오늘 열심히 일하고 퇴근했습니다.,5930,오르다 겁니다 오늘 열심히 하고 퇴근 하다
5,추팝츄스,2025-01-11T17:58:08+09:00,믿을거 하나없고 과거가 어떤지도 모르는 사람한테 투자한 사람이야 이렇게 믿을을주는 ...,5930,믿다 하나 없다 과거 어떤 지도 모르다 사람 한테 투자 사람 이야 이렇게 믿다 안되...
6,복권1등지방,2025-01-11T17:43:07+09:00,정치에 관심이 없는데 이제부터 공부하려고 하는데 윤석열 대통령님이 틴핵되어야 선진국...,5930,정치 관심 없다 이제 부터 공부 하다 하다 윤석열 대통령 틴핵 되어다 선진국 되다 ...
7,삼전35만원,2025-01-11T17:26:18+09:00,https://youtu.be/f-8vau3NfMY?si=-dLlQD9Ph5OU1Wes,5930,
8,분할매수매도장인,2025-01-11T16:46:27+09:00,요즘 왜 미세먼지가 없냐?? 중국이 망하는 중이냐? 아니면 친환경으로 바꾼거냐??,5930,요즘 미세먼지 없다 중국 망하다 중이 아니다 친환경 으로 바꾸다
9,추팝츄스,2025-01-11T16:35:12+09:00,뭔가 보여주고 싶지 않아? 보란듯이 한번 바뀌고 싶지 않아? 그걸 한 번 보여줘!\...,5930,뭔가 보여주다 싶다 않다 보다 듯이 한번 바뀌다 싶다 않다 그걸 하다 보여주다 세상...

C:\Users\hydrl\AppData\Local\Temp\ipykernel_18628\361386420.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  community_df['내용_토큰'].replace('', np.nan, inplace=True)

In [43]:
community_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74750 entries, 0 to 81071
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   닉네임     74750 non-null  object
 1   날짜      74750 non-null  object
 2   내용      74750 non-null  object
 3   종목      74750 non-null  object
 4   내용_토큰   72512 non-null  object
dtypes: object(5)
memory usage: 3.4+ MB

In [45]:
# 종목코드 자릿수 손실 : 6자리 채우기
community_df['종목'] = community_df['종목'].apply(
    lambda x: f"{x.zfill(6)}" if len(x) < 6 else x
)

In [46]:
# 파일저장
community_df.to_csv('community_token_final2.csv', index=False, encoding='utf-8-sig')

#### 수정 진행중

In [31]:
# 내용 토큰화 : 명사, 형용사, 부사, 동사 추출
def extract_tokens(text):
    noun_list = []
    adjective_list = []
    adverb_list = []
    verb_list = []
    tokens = okt.pos(text)
    # 명사(Noun), 형용사(Adjective), 부사(Adverb), 동사(Verb) 만 필터링
    
    for word, pos in tokens : 
        if pos == 'Noun' :
            noun_list.append(word)
        elif pos == 'Adjective' : 
            adjective_list.append(word)
        elif pos == 'Adverb' :
            adverb_list.append(word)
        elif pos == 'Verb':
            verb_list.append(word)    
        else : 
            continue
    
    tokens_dict = {
        '내용_명사' : noun_list,
        '내용_형용사' : adjective_list,
        '내용_부사' : adverb_list,
        '내용_동사' : verb_list
    }
    
    return tokens_dict

In [30]:
# 데이터 프레임에 내용_명사/ 내용_형용사/ 내용_부사/ 내용_동사 열 추가
def insert_token_list(df):
    
    # 원본 데이터프레임의 복사본 생성
    df_copy = df.copy()
    
    # 토큰화 결과를 저장할 리스트 초기화
    noun_list = []
    adjective_list = []
    adverb_list = []
    verb_list = []

    # DataFrame의 '내용' 열을 순회
    for content in df_copy['내용'].values:
        token_dict = extract_tokens(content)                   # 각 내용에 대해 토큰화 수행
        noun_list.append(token_dict['내용_명사'])               # 명사 리스트에 추가
        adjective_list.append(token_dict['내용_형용사'])        # 형용사 리스트에 추가
        adverb_list.append(token_dict['내용_부사'])             # 부사 리스트에 추가
        verb_list.append(token_dict['내용_동사'])               # 동사 리스트에 추가

    # DataFrame에 새로운 열 추가
    df_copy['내용_명사'] = noun_list
    df_copy['내용_형용사'] = adjective_list
    df_copy['내용_부사'] = adverb_list
    df_copy['내용_동사'] = verb_list
    
    return df_copy

In [35]:
df = insert_token_list(community_df.head(5))
df.head()

,닉네임,날짜,내용,종목,내용_명사,내용_형용사,내용_부사,내용_동사
0,GROK,2025-01-11T22:59:18+09:00,- 디자인 변화: S25 울트라는 기존의 각진 디자인에서 둥근 모서리로 변경되었으며...,5930,"[디자인, 변화, 울트라, 기존, 진, 디자인, 모서리, 변경, 카메라, 모듈, 디...","[둥근, 있습니다, 동일한, 있음]",[],"[되었으며, 와, 보입니다]"
1,공감아,2025-01-11T22:47:22+09:00,7만원 8만원에 물려있는게 대부분이라 7만원까지 혹여 올라도 물려있던분들은 원금 회...,5930,"[대부분, 혹, 던, 원금, 회복, 시, 다시, 풀, 매도, 다시]",[],[],"[물려있는게, 올라도, 물려있]"
2,곰돌이와콩이,2025-01-11T22:41:04+09:00,분할매수하기에 좋은 타점이지만.. 얘는 너무느리고 오래걸린다 얘를살바에 살게 너무많...,5930,"[분할, 타점, 얘, 얘, 살바, 살, 단점]","[좋은, 느리고, 많다는]","[너무, 오래, 너무]","[매수하기에, 걸린다]"
3,김브래,2025-01-11T21:31:55+09:00,존버하면 오르겠죠?,5930,[존버하],[],[],[오르겠죠]
4,김보리씨,2025-01-11T21:07:54+09:00,오를 겁니다. 제가 오늘 열심히 일하고 퇴근했습니다.,5930,"[제, 오늘, 일, 퇴근]",[],[열심히],"[오를, 겁니다, 했습니다]"

In [29]:
community_df.head(2)

,닉네임,날짜,내용,종목
0,GROK,2025-01-11T22:59:18+09:00,- 디자인 변화: S25 울트라는 기존의 각진 디자인에서 둥근 모서리로 변경되었으며...,5930
1,공감아,2025-01-11T22:47:22+09:00,7만원 8만원에 물려있는게 대부분이라 7만원까지 혹여 올라도 물려있던분들은 원금 회...,5930

In [20]:
token = extract_tokens(community_df.head(1)['내용'].values[0])
token

{'내용_명사': ['디자인',
  '변화',
  '울트라',
  '기존',
  '진',
  '디자인',
  '모서리',
  '변경',
  '카메라',
  '모듈',
  '디자인',
  '변화',
  '플러스',
  '외관',
  '크기',
  '차이',
  '외',
  '거의',
  '디자인',
  '프로세서',
  '전',
  '모델',
  '갤럭시',
  '용',
  '퀄컴',
  '스냅드래곤',
  '엘리트',
  '칩셋',
  '탑재',
  '기본',
  '용량',
  '증가',
  '전',
  '모델',
  '기본',
  '탑재',
  '울트라',
  '모델',
  '일부',
  '지역',
  '탑재',
  '가능성',
  '및',
  '최신',
  '운영체제',
  '및',
  '사용자',
  '인터페이스',
  '탑재',
  '통신',
  '및',
  '지원'],
 '내용_형용사': ['둥근', '있습니다', '동일한', '있음'],
 '내용_부사': []}

In [ ]:
# 모든 리스트를 하나의 리스트로 평탄화
flat_list = [item for sublist in df['내용_명사'] for item in sublist]

# 고유한 값 찾기
unique_nouns = set(flat_list)
print(unique_nouns)

In [ ]:
# 리스트를 문자열로 변환
df['내용_명사_str'] = df['내용_명사'].apply(lambda x: ', '.join(x) if isinstance(x, list) else str(x))
# 고유한 값 찾기
unique_nouns = df['내용_명사_str'].unique()
print(unique_nouns)

In [ ]:
# 리스트를 문자열로 변환
df['내용_형용사_str'] = df['내용_형용사'].apply(lambda x: ', '.join(x) if isinstance(x, list) else str(x))
# 고유한 값
unique_adjectives = df['내용_형용사_str'].unique()
print(unique_adjectives)

In [ ]:
# 리스트를 문자열로 변환
df['내용_부사_str'] = df['내용_부사'].apply(lambda x: ', '.join(x) if isinstance(x, list) else str(x))
# 고유한 값
unique_adverbs = df['내용_부사_str'].unique()
print(unique_adverbs)

In [ ]:
# 리스트를 문자열로 변환
df['내용_동사_str'] = df['내용_동사'].apply(lambda x: ', '.join(x) if isinstance(x, list) else str(x))
# 고유한 값
unique_verbs = df['내용_동사_str'].unique()
print(unique_verbs)

In [7]:
dict(okt)

TypeError: 'Okt' object is not iterable