In [1]:
import pandas as pd
import numpy as np

In [2]:
from konlpy.tag import Okt
okt = Okt()

In [3]:
from tqdm import tqdm
tqdm.pandas()

In [4]:
import FinanceDataReader as fdr

In [4]:
# community_df = pd.read_csv('toss_crawling_1m.csv')
community_df = pd.read_csv('total_community_contents_1m.csv')

In [ ]:
community_df.info()

In [6]:
print(okt.pos(community_df.head(1)['내용'].values[0]))

[('-', 'Punctuation'), ('디자인', 'Noun'), ('변화', 'Noun'), (':', 'Punctuation'), ('S', 'Alpha'), ('25', 'Number'), ('울트라', 'Noun'), ('는', 'Josa'), ('기존', 'Noun'), ('의', 'Josa'), ('각', 'Modifier'), ('진', 'Noun'), ('디자인', 'Noun'), ('에서', 'Josa'), ('둥근', 'Adjective'), ('모서리', 'Noun'), ('로', 'Josa'), ('변경', 'Noun'), ('되었으며', 'Verb'), (',', 'Punctuation'), ('카메라', 'Noun'), ('모듈', 'Noun'), ('디자인', 'Noun'), ('에도', 'Josa'), ('변화', 'Noun'), ('가', 'Josa'), ('있습니다', 'Adjective'), ('.', 'Punctuation'), ('S', 'Alpha'), ('25', 'Number'), ('와', 'Verb'), ('S', 'Alpha'), ('25', 'Number'), ('플러스', 'Noun'), ('는', 'Josa'), ('외관', 'Noun'), ('상', 'Suffix'), ('크기', 'Noun'), ('차이', 'Noun'), ('외', 'Noun'), ('에는', 'Josa'), ('거의', 'Noun'), ('동일한', 'Adjective'), ('디자인', 'Noun'), ('으로', 'Josa'), ('보입니다', 'Verb'), ('.', 'Punctuation'), ('\r\n\r\n', 'Foreign'), ('-', 'Punctuation'), ('프로세서', 'Noun'), (':', 'Punctuation'), ('전', 'Noun'), ('모델', 'Noun'), ('갤럭시', 'Noun'), ('용', 'Noun'), ('퀄컴', 'Noun'), ('스냅드래곤', 'Noun'), ('8', 'Number'), ('엘리트', 'Noun'), ('칩셋', 'Noun'), ('탑재', 'Noun'), ('\r\n\r\n', 'Foreign'), ('-', 'Punctuation'), ('기본', 'Noun'), ('RAM', 'Alpha'), ('용량', 'Noun'), ('증가', 'Noun'), (':', 'Punctuation'), ('전', 'Noun'), ('모델', 'Noun'), ('기본', 'Noun'), ('12', 'Number'), ('GB', 'Alpha'), ('RAM', 'Alpha'), ('탑재', 'Noun'), ('(', 'Punctuation'), ('울트라', 'Noun'), ('모델', 'Noun'), ('은', 'Josa'), ('일부', 'Noun'), ('지역', 'Noun'), ('에서', 'Josa'), ('16', 'Number'), ('GB', 'Alpha'), ('RAM', 'Alpha'), ('탑재', 'Noun'), ('가능성', 'Noun'), ('있음', 'Adjective'), (')', 'Punctuation'), ('\r\n\r\n', 'Foreign'), ('-', 'Punctuation'), ('One', 'Alpha'), ('UI', 'Alpha'), ('7', 'Number'), ('및', 'Noun'), ('Android', 'Alpha'), ('15', 'Number'), (':', 'Punctuation'), ('최신', 'Noun'), ('운영체제', 'Noun'), ('및', 'Noun'), ('사용자', 'Noun'), ('인터페이스', 'Noun'), ('탑재', 'Noun'), ('\r\n\r\n', 'Foreign'), ('-', 'Punctuation'), ('통신', 'Noun'), (':', 'Punctuation'), ('Wi', 'Alpha'), ('-', 'Punctuation'), ('Fi', 'Alpha'), ('7', 'Number'), ('및', 'Noun'), ('Bluetooth', 'Alpha'), ('5.3', 'Number'), ('지원', 'Noun'), ('\r\n\r\n', 'Foreign'), ('https://m.blog.naver.com/grok_newsfeed/223722891228', 'URL')]

In [7]:
contents = community_df['내용']

In [10]:
community_df['내용'].nunique()

80032

In [11]:
# 내용이 중복된 행 제거 (광고, 도배등 불용 데이터)
community_df.drop_duplicates(subset=['내용'], inplace=True)

# '내용' 열의 각 문자열에서 시작 부분의 공백을 제거
community_df['내용'] = community_df['내용'].str.replace('^ +', "", regex=True)
community_df['내용'] = community_df['내용'].replace('', np.nan)

In [ ]:
print(community_df.isnull().sum())

In [12]:
print('총 샘플의 수 :',len(community_df))

총 샘플의 수 : 80032

In [14]:
# 내용 토큰화
X_train = []
for sentence in tqdm(community_df['내용']):
    tokenized_sentence = okt.morphs(sentence, stem=True) # 토큰화
    X_train.append(tokenized_sentence)

  0%|          | 0/80032 [00:00<?, ?it/s]

100%|██████████| 80032/80032 [01:14<00:00, 1079.41it/s]

In [15]:
print(X_train[:3])

[['-', '디자인', '변화', ':', 'S', '25', '울트라', '는', '기존', '의', '각', '진', '디자인', '에서', '둥글다', '모서리', '로', '변경', '되어다', ',', '카메라', '모듈', '디자인', '에도', '변화', '가', '있다', '.', 'S', '25', '오다', 'S', '25', '플러스', '는', '외관', '상', '크기', '차이', '외', '에는', '거의', '동일하다', '디자인', '으로', '보이다', '.', '\r\n\r\n', '-', '프로세서', ':', '전', '모델', '갤럭시', '용', '퀄컴', '스냅드래곤', '8', '엘리트', '칩셋', '탑재', '\r\n\r\n', '-', '기본', 'RAM', '용량', '증가', ':', '전', '모델', '기본', '12', 'GB', 'RAM', '탑재', '(', '울트라', '모델', '은', '일부', '지역', '에서', '16', 'GB', 'RAM', '탑재', '가능성', '있다', ')', '\r\n\r\n', '-', 'One', 'UI', '7', '및', 'Android', '15', ':', '최신', '운영체제', '및', '사용자', '인터페이스', '탑재', '\r\n\r\n', '-', '통신', ':', 'Wi', '-', 'Fi', '7', '및', 'Bluetooth', '5.3', '지원', '\r\n\r\n', 'https://m.blog.naver.com/grok_newsfeed/223722891228'], ['7만원', '8만원', '에', '물리다', '대부분', '이라', '7만원', '까지', '혹', '여', '오르다', '물리다', '던', '분들', '은', '원금', '회복', '시', '다시', '풀', '매도', '...', '다시', '4만', '전자'], ['분할', '매다', '좋다', '타점', '이지만', '..', '얘', '는', '너무', '느리다', '오래', '걸리다', '얘', '를', '살바', '에', '살', '게', '너무', '많다', '단점']]

In [16]:
len(X_train)

80032

In [17]:
# '내용_토큰' 열에 X_train의 각 행을 리스트 형태로 추가
community_df['내용_토큰'] = [row for row in X_train]

In [18]:
community_df.head()

,닉네임,날짜,내용,종목,내용_토큰
0,GROK,2025-01-11T22:59:18+09:00,- 디자인 변화: S25 울트라는 기존의 각진 디자인에서 둥근 모서리로 변경되었으며...,5930,"[-, 디자인, 변화, :, S, 25, 울트라, 는, 기존, 의, 각, 진, 디자..."
1,공감아,2025-01-11T22:47:22+09:00,7만원 8만원에 물려있는게 대부분이라 7만원까지 혹여 올라도 물려있던분들은 원금 회...,5930,"[7만원, 8만원, 에, 물리다, 대부분, 이라, 7만원, 까지, 혹, 여, 오르다..."
2,곰돌이와콩이,2025-01-11T22:41:04+09:00,분할매수하기에 좋은 타점이지만.. 얘는 너무느리고 오래걸린다 얘를살바에 살게 너무많...,5930,"[분할, 매다, 좋다, 타점, 이지만, .., 얘, 는, 너무, 느리다, 오래, 걸..."
3,김브래,2025-01-11T21:31:55+09:00,존버하면 오르겠죠?,5930,"[존버하, 면, 오르다, ?]"
4,김보리씨,2025-01-11T21:07:54+09:00,오를 겁니다. 제가 오늘 열심히 일하고 퇴근했습니다.,5930,"[오르다, 겁니다, ., 제, 가, 오늘, 열심히, 일, 하고, 퇴근, 하다, .]"

In [19]:
# 리스트를 문자열로 변환하고 한글만 남기기
community_df['내용_토큰'] = community_df['내용_토큰'].apply(lambda x: ' '.join(x))  # 리스트를 문자열로 변환
community_df['내용_토큰'] = community_df['내용_토큰'].str.replace(r'[^가-힣\s]', '', regex=True)  # 한글과 공백만 남기기

# 한글자 단어 제외
community_df['내용_토큰'] = community_df['내용_토큰'].str.findall(r'\b[가-힣]{2,}\b').apply(lambda x: ' '.join(x))

In [20]:
community_df['내용_토큰'] = community_df['내용_토큰'].str.replace('^ +', "", regex=True) # white space 데이터를 empty value로 변경
community_df['내용_토큰'] = community_df['내용_토큰'].replace('', np.nan) # 빈 문자열을 NaN으로 변경

C:\Users\hydrl\AppData\Local\Temp\ipykernel_16484\361386420.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  community_df['내용_토큰'].replace('', np.nan, inplace=True)

In [35]:
community_df.head()

,닉네임,날짜,내용,종목,내용_토큰
0,GROK,2025-01-11T22:59:18+09:00,- 디자인 변화: S25 울트라는 기존의 각진 디자인에서 둥근 모서리로 변경되었으며...,005930,디자인 변화 울트라 기존 디자인 에서 둥글다 모서리 변경 되어다 카메라 모듈 디자인...
1,공감아,2025-01-11T22:47:22+09:00,7만원 8만원에 물려있는게 대부분이라 7만원까지 혹여 올라도 물려있던분들은 원금 회...,005930,만원 만원 물리다 대부분 이라 만원 까지 오르다 물리다 분들 원금 회복 다시 매도 ...
2,곰돌이와콩이,2025-01-11T22:41:04+09:00,분할매수하기에 좋은 타점이지만.. 얘는 너무느리고 오래걸린다 얘를살바에 살게 너무많...,005930,분할 매다 좋다 타점 이지만 너무 느리다 오래 걸리다 살바 너무 많다 단점
3,김브래,2025-01-11T21:31:55+09:00,존버하면 오르겠죠?,005930,존버하 오르다
4,김보리씨,2025-01-11T21:07:54+09:00,오를 겁니다. 제가 오늘 열심히 일하고 퇴근했습니다.,005930,오르다 겁니다 오늘 열심히 하고 퇴근 하다

In [22]:
community_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80032 entries, 0 to 87101
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   닉네임     80032 non-null  object
 1   날짜      80032 non-null  object
 2   내용      80032 non-null  object
 3   종목      80032 non-null  object
 4   내용_토큰   77647 non-null  object
dtypes: object(5)
memory usage: 3.7+ MB

In [23]:
print(community_df['내용_토큰'].isnull().sum())  # 원본 DataFrame의 결측값

2385

In [27]:
# 결측값이 있는 행 제거
community_df = community_df.dropna(subset=['내용_토큰'])

In [28]:
print(community_df['내용_토큰'].isnull().sum())  # 원본 DataFrame의 결측값

0

In [36]:
# 종목코드 자릿수 손실 : 6자리 채우기
community_df['종목'] = community_df['종목'].apply(
    lambda x: f"{x.zfill(6)}" if len(x) < 6 else x
)

In [34]:
krx_df = fdr.StockListing('KRX')
krx_df.head(2)

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,53600,2,-700,-1.29,53800,54100,53500,4364180,234535193900,319980344680000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,213500,1,3500,1.67,209500,215000,209000,1486457,315912892000,155428504927500,728002365,STK

In [37]:
# df와 krx_df를 '종목'과 'Code'를 기준으로 병합
community_df = community_df.merge(
    krx_df[['Code', 'Market']],
    left_on='종목',
    right_on='Code',
    how='left'
)

# '시장' 열 이름을 변경합니다.
community_df.rename(columns={'Market': '시장'}, inplace=True)
# '시장' 열의 NaN 값을 'ETF'로 채웁니다.
community_df['시장'] = community_df['시장'].fillna('ETF')
# KOSDAQ GLOBAL의 값을 KOSDAQ에 더하기
community_df['시장'] = community_df['시장'].replace('KOSDAQ GLOBAL', 'KOSDAQ')
# 'Code' 열 삭제
community_df.drop(columns=['Code'], inplace=True)

In [39]:
community_df.head()

,닉네임,날짜,내용,종목,내용_토큰,시장
0,GROK,2025-01-11T22:59:18+09:00,- 디자인 변화: S25 울트라는 기존의 각진 디자인에서 둥근 모서리로 변경되었으며...,005930,디자인 변화 울트라 기존 디자인 에서 둥글다 모서리 변경 되어다 카메라 모듈 디자인...,KOSPI
1,공감아,2025-01-11T22:47:22+09:00,7만원 8만원에 물려있는게 대부분이라 7만원까지 혹여 올라도 물려있던분들은 원금 회...,005930,만원 만원 물리다 대부분 이라 만원 까지 오르다 물리다 분들 원금 회복 다시 매도 ...,KOSPI
2,곰돌이와콩이,2025-01-11T22:41:04+09:00,분할매수하기에 좋은 타점이지만.. 얘는 너무느리고 오래걸린다 얘를살바에 살게 너무많...,005930,분할 매다 좋다 타점 이지만 너무 느리다 오래 걸리다 살바 너무 많다 단점,KOSPI
3,김브래,2025-01-11T21:31:55+09:00,존버하면 오르겠죠?,005930,존버하 오르다,KOSPI
4,김보리씨,2025-01-11T21:07:54+09:00,오를 겁니다. 제가 오늘 열심히 일하고 퇴근했습니다.,005930,오르다 겁니다 오늘 열심히 하고 퇴근 하다,KOSPI

In [40]:
# 파일저장
community_df.to_csv('community_token_final3.csv', index=False, encoding='utf-8-sig')