문제1) 주어진 리스트에서 중복된 요소를 제거하고, 각 요소의 개수를 세어 딕셔너리 형태로 반환하는 함수를 작성하세요. 반환되는 딕셔너리는 요소를 키로, 개수를 값으로 가집너다.

In [14]:
def count_list_ele(list):
  ele_count = {}             #딕셔너리 빈 공간 하나 생성
  for ele in list:          #각 요소를 하나씩 순회해야됨
    if ele in ele_count:     #순회하면서 이미존재한다면
      ele_count[ele] +=1     #해당 요소의 값을 1 증가
    else:
      ele_count[ele] = 1     # 처음 마주치면 아이템 추가 : eleCount[ele] : 동일한 키가 없으면 키를 추가후 값을 1로
  return ele_count

In [2]:
a = [1,2,3,3,3,4,4,4,4,5,5]
result = count_list_ele(a)
print(result)

{1: 1, 2: 1, 3: 3, 4: 4, 5: 2}

In [18]:
def count_list_ele2(list):
  dic = {}
  list_to_set = set(list)
  for ele in list_to_set:         #ele에 set으로 바꾼 리스트 값을 하나씩
    dic[ele] = list.count(ele)    #ele를 키값으로 가지면서, list에서 ele의 갯수를 value로 갖게
  return dic

In [19]:
a = [1,2,3,3,3,4,4,4,4,5,5]
result = count_list_ele2(a)
print(result)

{1: 1, 2: 1, 3: 3, 4: 4, 5: 2}

문제2) 주어진 튜플을 리스트로 변환한 후, 리스트를 정렬하고 다시 튜플로 변환하여 반환하는 함수를 작성하세요

In [12]:
def tuple_sort(t):
  new_list = list(t)       #튜플을 리스트로 변환
  new_list.sort()          #리스트를 정환
  return tuple(new_list)   #정렬된 리스트를 튜플로 변환

In [13]:
b = (3,1,4,2)
result = tuple_sort(b)
print(result)

(1, 2, 3, 4)

문제3) 두개의 리스트가 주어졌을때, 두 리스트의 교집합을 구하는 함수를 작성하세요. 결과는 리스트 형태로 반환되어야 하며, 중복된요소는 제거되어야 합니다.

In [15]:
def lists_intersection(list1, list2):
  list_to_set = set(list1) & set(list2)    #set 으로 변환하면 중복된 요소가 자동으로 제거됨
  return list(list_to_set)                 #다시 리스트로 변환해서 리턴

In [16]:
c = [1,2,3,4,5]
d = [3,5,2,7,9]
result = lists_intersection(c,d)
print(result)

[2, 3, 5]

문제4 주어진 딕셔너리에서 특정 학생의 과목 성적을 업데이트 하고, 새로운 과목 성적을 추가하는 함수를 작성하세요. 학생의 이름과 과목, 성적을 인자로 받아야합니다.

- 예시
 - 입력
    students = {
      'Alice': {'math':90, 'science': 85},
      'Bob': {'math': 80}
    }

- 출력
    {'Alice':{'math':95,'science':85}, 'Bob':{'math':80, 'science':88}

In [22]:
# /: 이 기호는 그 앞에 있는 매개변수들이 위치 인수(positional arguments)로만 전달될 수 있음을 나타냅니다.
#    즉, 해당 매개변수들은 키워드 인수(keyword arguments)로 전달할 수 없습니다.
#*: 이 기호는 그 뒤에 있는 매개변수들이 키워드 인수로만 전달될 수 있음을 나타냅니다.
#   즉, 해당 매개변수들은 위치 인수로는 사용할 수 없습니다.
def update_score(students, name,/,*, subject, score):
  if name not in students :
    students[name] = {} # 학생이 없으면 새로 추가
  students[name][subject] = score # 성적 업데이트

  return students

In [24]:
students = { 'Alice': {'math':90, 'science': 85}, 'Bob': {'math': 80}}
print(update_score(students, 'Alice', subject='math', score=95))

{'Alice': {'math': 95, 'science': 85}, 'Bob': {'math': 80}}

In [26]:
students.get('Alice').get('science')

85

In [27]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
help(''.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.