In [2]:
# 데이터 분석을 위한 패키지
import numpy as np
import pandas as pd

In [8]:
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
# 모든 컬럼,행을 출력하도록 설정
pd.set_option('display.max_columns', None) # None으로 설정하면 모든 컬럼 출력

pd.set_option('display.max_rows', 50) #None으로 설정하면 모든 행 출력

In [4]:
#CSV 파일 불러오기
df_stocks = pd.read_csv('stocks.csv')

In [6]:
df_stocks.head(1)

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,005930,삼성전자,KOSPI,NaN,54200,1,100,0.18,53500,54600,53300,12640887,681039484000,323562214210000,5969782550,STK,통신 및 방송 장비 제조업,"통신 및 방송 장비 제조(무선) 제품, 반도체 제조(메모리) 제품, 전자부품 제조(...",1975-06-11,12월,한종희,http://www.samsung.com/sec,경기도

In [13]:
df_stocks.index[df_stocks['ChagesRatio'] == 30]

Index([1232, 2017], dtype='int64')

#### 행을 추출하는 방법

In [16]:
# 행 추출방법

# case1) loc : 인덱스명
# df_stocks.loc[df_stocks['ChagesRatio'] == 30]

# case2) iloc : 인덱스번호
# indices = df_stocks.index[df_stocks['ChagesRatio'] == 30]
# df_stocks.iloc[indices]

# case3) query
# df_stocks.query('ChagesRatio == 30')

# case4) [] : 대괄호 접근
df_stocks[df_stocks['ChagesRatio'] == 30]

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1232,050960,수산아이앤티,KOSDAQ,벤처기업부,15860,4,3660,30.0,11000,15860,10640,953420,13779962900,107070860000,6751000,KSQ,소프트웨어 개발 및 공급업,"공유단말접속관리서비스, 보안솔루션 등",2016-10-11,12월,정은아,http://www.soosanint.co.kr,서울특별시
2017,121850,코이즈,KOSDAQ,벤처기업부,1495,4,345,30.0,1140,1495,1067,4925740,6890761651,45768191625,30614175,KSQ,플라스틱제품 제조업,"보호필름, 도광판, 백코팅",2012-09-27,12월,조재형,http://www.koyj.co.kr,충청북도

#### 행을 추출한 뒤 열을 추출하는 방법

In [33]:
# 행 추출방법

# case1) loc : 인덱스명
# df_stocks.loc[df_stocks['ChagesRatio'] == 30]
# df_stocks.loc[df_stocks['ChagesRatio'] == 30[['Name','Sector']]
# df_stocks.loc[df_stocks['ChagesRatio'] == 30, ['Name','Sector']]

# case2) iloc : 인덱스번호
# indices = df_stocks.index[df_stocks['ChagesRatio'] == 30]
# df_stocks.iloc[indices]
# df_stocks.iloc[df_stocks.index[df_stocks['ChagesRatio'] == 30]][['Name','Sector']]
# df_stocks.iloc[df_stocks.index[df_stocks['ChagesRatio'] == 30], [1,16]]

# case3) query
# df_stocks.query('ChagesRatio == 30')[['Name','Sector']]

# case4) [] : 대괄호 접근
# df_stocks[df_stocks['ChagesRatio'] == 30][['Name', 'Sector']]

        Name          Sector
1232  수산아이앤티  소프트웨어 개발 및 공급업
2017     코이즈      플라스틱제품 제조업

In [9]:
df_stocks.describe()

,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks
count,"2,856.00","2,856.00","2,856.00","2,856.00","2,856.00","2,856.00","2,856.00","2,856.00","2,856.00","2,856.00","2,856.00"
mean,"17,277.81",1.74,-252.24,-1.34,"17,350.08","17,727.46","16,589.57","530,937.62","6,083,800,081.34","813,022,574,906.72","41,860,266.36"
std,"55,557.71",0.62,"3,615.76",3.90,"59,603.33","63,697.83","54,021.76","2,191,042.62","35,652,427,617.24","7,277,020,680,997.95","132,789,219.19"
min,3.00,0.00,"-187,000.00",-29.93,0.00,0.00,0.00,0.00,0.00,"51,799,998.00","200,000.00"
25%,"2,078.75",1.00,-200.00,-3.06,"2,000.00","2,015.00","1,970.75","24,979.00","101,564,988.00","41,371,681,950.00","10,173,538.00"
50%,"4,800.00",2.00,-50.00,-1.28,"4,677.50","4,797.50","4,445.00","93,065.00","423,984,237.50","89,545,483,875.00","19,772,950.00"
75%,"12,775.00",2.00,0.00,0.00,"12,667.50","12,882.50","12,110.00","273,885.00","1,842,105,927.50","227,721,329,146.25","41,894,574.75"
max,"1,813,000.00",5.00,"8,800.00",30.00,"2,124,000.00","2,407,000.00","1,736,000.00","37,844,885.00","1,228,936,823,600.00","322,965,235,955,000.00","5,969,782,550.00"

#### 정렬하기

In [ ]:
# 전일 대비 상승률 상위 30위 종목
top_30_increse_indices = df_stocks.sort_values('ChagesRatio',ascending=False).head(30).index
df_top_30_increse = df_stocks.iloc[top_30_increse_indices]
df_top_30_increse

In [ ]:
bottom_30_increse_indices = df_stocks.sort_values('ChagesRatio',ascending=True).head(30).index
df_bottom_30_increse = df_stocks.iloc[bottom_30_increse_indices]
df_bottom_30_increse

In [ ]:
df_top_30_increse['Sector'].value_counts()

In [ ]:
df_bottom_30_increse['Sector'].value_counts()

#### 그룹핑

In [45]:
df_stocks.groupby('Sector')[['Marcap','Volume']].mean()

                           Marcap         Volume
Sector
1차 비철금속 제조업          1.695830e+12  200935.761905
1차 철강 제조업            5.617902e+11  318030.129032
가구 제조업               1.705827e+11  246903.555556
가전제품 및 정보통신장비 소매업    1.664344e+11   10627.000000
가정용 기기 제조업           4.116708e+11   86964.666667
...                           ...            ...
항공기,우주선 및 부품 제조업     2.146847e+12  188781.222222
해상 운송업               3.092539e+12  681590.166667
해체, 선별 및 원료 재생업      5.352452e+10  264348.000000
화학섬유 제조업             3.870708e+11   55874.666667
회사 본부 및 경영 컨설팅 서비스업  2.852474e+11   42029.250000

[160 rows x 2 columns]

In [ ]:
df_stocks.sort_values('ChagesRatio', ascending=False).head(30)['Name']

In [27]:
type(df_stocks.groupby('Sector')['Marcap'].sum().reset_index())

pandas.core.frame.DataFrame

In [ ]:
df_stocks.groupby('Sector')['Marcap'].head()

In [58]:
# 산업별 시가총액이 가장 큰 종목 가져오기

tmp_idx = df_stocks.groupby('Sector')[['Marcap']].idxmax()
df_stocks.loc[tmp_idx['Marcap'].values][['Name','Sector','Industry','Marcap']].sort_values('Marcap',ascending=False).head()

,Name,Sector,Industry,Marcap
0,삼성전자,통신 및 방송 장비 제조업,"통신 및 방송 장비 제조(무선) 제품, 반도체 제조(메모리) 제품, 전자부품 제조(...",323562214210000
1,SK하이닉스,반도체 제조업,"반도체,컴퓨터,통신기기 제조,도매",122959599448500
2,LG에너지솔루션,일차전지 및 이차전지 제조업,"2차전지 (소형,ESS,자동차전지)",91845000000000
3,삼성바이오로직스,기초 의약물질 제조업,바이오의약품,68113518000000
4,현대차,자동차용 엔진 및 자동차 제조업,"자동차(승용차,버스,트럭,특장차),자동차부품,자동차전착도료 제조,차량정비사업",42197362486500

In [28]:
type(df_stocks.groupby('Sector')['Marcap'].sum())

pandas.core.series.Series

In [26]:
# 산업별 시가총액 상위목록

# 산업별 시가 총액 합계 계산
df_stocks.groupby('Sector')['Marcap'].sum().reset_index()

# 각 산업별로 시가총액이 가장 높은 기업
top_industries = df_stocks.loc[df_stocks.groupby('Sector')['Marcap'].idxmax()]
top_industries

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
7,010130,고려아연,KOSPI,NaN,1813000,2,-187000,-9.35,2124000,2407000,1736000,248705,520852009000,37535052079000,20703283,STK,1차 비철금속 제조업,"연,아연괴 제조,판매",1990-07-28,12월,"박기덕, 정태웅",http://www.koreazinc.co.kr,서울특별시
13,005490,POSCO홀딩스,KOSPI,NaN,265500,2,-1000,-0.38,266500,270500,257000,464808,122727927500,21936772093500,82624377,STK,1차 철강 제조업,"열연코일,냉연강판,후판,선재,스테인리스 제조",1988-06-10,12월,"대표이사 회장 장인화, 대표이사 사장 정기섭",http://www.posco-inc.com,경상북도
413,013890,지누스,KOSPI,NaN,23100,1,1300,5.96,22200,23800,21900,347667,8013373900,468025219200,20260832,STK,가구 제조업,매트리스 및 가구제품,2019-10-30,12월,윤종원,http://www.zinus.co.kr,경기도
868,071840,롯데하이마트,KOSPI,NaN,7330,2,-100,-1.35,7360,7480,7090,45959,333161100,173044528960,23607712,STK,가전제품 및 정보통신장비 소매업,"가전제품,잡화 도소매/부동산 임대",2011-06-29,12월,남창희,http://company.himart.co.kr,서울특별시
140,065350,신성델타테크,KOSDAQ,우량기업부,74600,1,800,1.08,74100,79400,73000,634228,48251391600,2050302520800,27483948,KSQ,가정용 기기 제조업,"세탁기, 자동차, 에어컨 및 LCD 부품",2004-08-06,12월,구본상·이동한(각자 대표이사),http://www.ssdelta.co.kr,경상남도
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,012450,한화에어로스페이스,KOSPI,NaN,298000,2,-10000,-3.25,314500,317500,286000,932726,276597954500,13583185978000,45581161,STK,"항공기,우주선 및 부품 제조업","항공기엔진,특수방산장비 제조/정비사업",1987-05-27,12월,"손재일, 김동관",http://www.hanwhaaerospace.co.kr/,경상남도
25,011200,HMM,KOSPI,NaN,18000,2,-210,-1.15,18220,18500,17750,1153122,20900707030,15858710928000,881039496,STK,해상 운송업,"정기,부정기,전용선,콘테이너선,자동차선,LNG선 해운",1995-10-05,12월,김경배,http://www.hmm21.com,서울특별시
1927,032860,더라미,KOSDAQ,투자주의환기종목(소속부없음),1297,2,-30,-2.26,1294,1330,1257,167150,215121823,52393434311,40395863,KSQ,"해체, 선별 및 원료 재생업","화장품, 철스크랩",1997-07-04,12월,현병택,http://www.thelamy.com,경기도
248,298020,효성티앤씨,KOSPI,NaN,218000,2,-2500,-1.13,222500,222500,212000,25907,5624492000,943434676000,4327682,STK,화학섬유 제조업,"섬유, 산업자재, 화학, 중공업, 건설, 무역,금융 등",2018-07-13,12월,김치형,http://www.hyosungtnc.com,서울특별시
294,036830,솔브레인홀딩스,KOSDAQ GLOBAL,우량기업부,35550,2,-400,-1.11,36250,37550,34850,112767,4068258300,745272190800,20964056,KSQ,회사 본부 및 경영 컨설팅 서비스업,"반도체,디스플레이,2차전지 공정용 화학제품",2000-01-18,12월,정현석,http://www.soulbrainholdings.co.kr,경기도

In [18]:
df_stocks.head(1)

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,005930,삼성전자,KOSPI,NaN,54100,1,400,0.74,53900,54400,52700,22804926,1228936823600,322965235955000,5969782550,STK,통신 및 방송 장비 제조업,"통신 및 방송 장비 제조(무선) 제품, 반도체 제조(메모리) 제품, 전자부품 제조(...",1975-06-11,12월,한종희,http://www.samsung.com/sec,경기도