In [1]:
import FinanceDataReader as fdr

In [2]:
fdr.StockListing('KRX')

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,55300,2,-800,-1.43,56100,56500,55200,16059223,893461579301,330128975015000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,203500,2,-1500,-0.73,208000,212500,202500,6149475,1275141940365,148148481277500,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,348500,2,-10000,-2.79,356000,357500,348000,280639,98184650500,81549000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,1000000,2,-6000,-0.60,1001000,1020000,999000,42326,42628941000,71174000000000,71174000,STK
4,005380,KR7005380001,현대차,KOSPI,,226000,1,13000,6.10,215000,227000,215000,1951806,436680248000,47328059166000,209416191,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2860,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,1250,0,0,0.00,0,0,0,0,0,1974950000,1579960,KNX
2861,236030,KR7236030003,씨알푸드,KONEX,일반기업부,949,2,-51,-5.10,0,0,0,0,0,1929632068,2033332,KNX
2862,413300,KR7413300005,티엘엔지니어링,KONEX,일반기업부,900,2,-29,-3.12,1067,1067,790,107,97487,1216363500,1351515,KNX
2863,288490,KR7288490006,나라소프트,KONEX,일반기업부,63,1,3,5.00,63,63,60,31439,1979257,1100709351,17471577,KNX
2864,308700,KR7308700004,테크엔,KONEX,일반기업부,199,0,0,0.00,0,0,0,0,0,796000000,4000000,KNX

In [3]:
# 데이터 분석을 위한 패키지
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('sector_by_stock_list_df.csv')

In [6]:
df.head(20)

          업종명        종목명  코스닥 여부
0   건강관리장비와용품       나눔테크   False
1   건강관리장비와용품        타스컴   False
2   건강관리장비와용품     아이오바이오   False
3   건강관리장비와용품  넥스트바이오메디컬    True
4   건강관리장비와용품       진시스템    True
5   건강관리장비와용품      씨유메디칼    True
6   건강관리장비와용품        HLB    True
7   건강관리장비와용품       프로티아    True
8   건강관리장비와용품      파마리서치    True
9   건강관리장비와용품     멕아이씨에스    True
10  건강관리장비와용품       엠아이텍    True
11  건강관리장비와용품        티앤엘    True
12  건강관리장비와용품       알파녹스    True
13  건강관리장비와용품      바이오다인    True
14  건강관리장비와용품        덴티움   False
15  건강관리장비와용품         노을    True
16  건강관리장비와용품       레이언스    True
17  건강관리장비와용품       제노레이    True
18  건강관리장비와용품      이오플로우    True
19  건강관리장비와용품    SCL사이언스    True

In [7]:
fdr.DataReader('005930', '2024-12-20')

             Open   High    Low  Close    Volume    Change
Date
2024-12-20  52700  53100  51900  53000  24674774 -0.001883
2024-12-23  53400  54000  53300  53500  13672650  0.009434
2024-12-24  53700  54500  53600  54400  11634677  0.016822
2024-12-26  54500  54600  53500  53600  10517075 -0.014706
2024-12-27  53500  54100  53200  53700  10747196  0.001866
2024-12-30  53300  54000  53100  53200  12624702 -0.009311
2025-01-02  52700  53600  52300  53400  16630538  0.003759
2025-01-03  52800  55100  52800  54400  19318046  0.018727
2025-01-06  54400  56200  54300  55900  19034284  0.027574
2025-01-07  56800  57300  55400  55400  17030235 -0.008945
2025-01-08  54800  57500  54700  57300  26593553  0.034296
2025-01-09  57600  57700  56100  56100  24490592 -0.020942
2025-01-10  56100  56500  55200  55300  15865421 -0.014260