In [12]:
#FinanceDada/FinanceDataReader: Financial data reader

In [13]:
# FinanceData 설치
# ! : prompt환경의 명령을 실행
# !pip install finance-datareader

In [14]:
# 라이브러리 불러오기
import FinanceDataReader as fdr

In [15]:
# 버전확인
fdr.__version__

'0.9.94'

## 한국거래소 상장종목 전체 가져오기

In [16]:
# 패키지 내용 확인
dir(fdr)

['DataReader',
 'EtfListing',
 'SnapDataReader',
 'StockListing',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_utils',
 'chart',
 'data',
 'ecos',
 'fred',
 'investing',
 'krx',
 'nasdaq',
 'naver',
 'plot',
 'wikipedia',
 'yahoo']

In [17]:
# 함수, method 사용 방법을 알고 싶을때
# help(fdr.StockListing)
fdr.StockListing?

Signature: fdr.StockListing(market: str, start=None, end=None) -> pandas.core.frame.DataFrame
Docstring:
read stock list of stock exchanges
* market: 'KRX', 'KOSPI', 'KOSDAQ', 'KONEX', 'KRX-MARCAP',
        'KRX-DESC', 'KOSPI-DESC', 'KOSDAQ-DESC', 'KONEX-DESC',
        'KRX-DELISTING', 'KRX-ADMINISTRATIVE', 'KRX-MARCAP',
        'NASDAQ', 'NYSE', 'AMEX', 'SSE', 'SZSE', 'HKEX', 'TSE', 'HOSE',
        'S&P500',
        'ETF/KR',
File:      d:\kdt\anaconda3\lib\site-packages\financedatareader\data.py
Type:      function

In [18]:
stocks = fdr.StockListing('KRX')
stocks_desc = fdr.StockListing('KRX-DESC')

#### column 목차 범례

Close:

    마지막 거래 가격. 주식이 거래된 마지막 가격을 나타냅니다.

ChangeCode:

    주식의 고유 코드. 각 주식을 식별하기 위한 코드로, 보통 ISIN(국제 증권 식별 번호) 형식입니다.
Changes:

    주식의 이름. 해당 주식의 기업 이름을 나타냅니다.
ChagesRatio:

    주식의 가격 변동률을 백분율로 표현한 것입니다.
Open:

    시가. 해당 거래일의 첫 거래 가격을 나타냅니다.
High:

    고가. 해당 거래일 동안 기록된 최고 가격을 나타냅니다.
Low:

    저가. 해당 거래일 동안 기록된 최저 가격을 나타냅니다.
Volume:

    거래량. 해당 거래일 동안 거래된 주식의 총 수량을 나타냅니다.
Amount:

    거래대금. 해당 거래일 동안의 총 거래 금액을 나타냅니다.
Marcap:

    시가총액. 해당 기업의 전체 시장 가치를 나타내며, 주가와 발행 주식 수를 곱하여 계산됩니다.
Stocks:

    유통 주식 수. 현재 시장에서 거래 가능한 주식의 총 수량을 나타냅니다.
MarketId:

    주식의 종류를 나타내는 식별자. 일반적으로 'STK'는 일반 주식을 의미합니다.

#### 데이터 구조 확인

In [19]:
stocks.shape, stocks_desc.shape

((2855, 17), (2855, 10))

In [20]:
#행수
stocks.shape[0], stocks_desc.shape[0]

(2855, 2855)

In [21]:
# 데이터프레임의 처음,마지막 n행보기, 매개값이 없으면 5행
display(stocks.head(1))
display(stocks_desc.head(1))
#close : 종가 , open: 시작가 low : 최저가 High : 최고가, volume : 발행수 Amount : 시가총액

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,53900,1,500,0.94,54500,54500,53700,16785085,906790842800,321771279445000,5969782550,STK

,Code,Name,Market,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,3S,KOSDAQ,"측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외",반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시

In [22]:
# import pandas as pd

# # 여러 종목 데이터 가져오기
# tickers = ['005930', '000660', '207940']  # 삼성전자, SK하이닉스, 삼성바이오로직스
# data = {ticker: fdr.DataReader(ticker, '2023-01-01', '2023-12-01')['Close'] for ticker in tickers}

# # 데이터프레임으로 변환
# df_comparison = pd.DataFrame(data)

# # 시각화
# plt.figure(figsize=(12, 6))
# df_comparison.plot()
# plt.title('Stock Price Comparison')
# plt.xlabel('Date')
# plt.ylabel('Price')
# plt.legend(tickers)
# plt.show()

In [23]:
stocks = fdr.StockListing('KRX')

stocks_desc = fdr.StockListing('KRX-DESC')

#### 데이터 구조 확인

In [24]:
# 데이터 프레임의 행과 열의 수를 튜플로 반환
stocks.shape, stocks_desc.shape

((2855, 17), (2855, 10))

In [25]:
#행 수
stocks.shape[0], stocks_desc.shape[0]

(2855, 2855)

In [ ]:
# 데이터프레임의 처음(head), 마지막(tail) n행보기, 매개값이 없으면 default는 5행
display(stocks.head(1))
display(stocks_desc.head(1))

In [ ]:
display(stocks.tail(1))
display(stocks_desc.tail(1))

In [ ]:
# 데이터 프레임에 대한 기본 정보(행 수, 컬럼수, 각 컬럼의 데이터타입, 결측치 확인)
stocks.info()

In [ ]:
# 요약 통계량 제공, 매개값이 없으면 숫자 컬럼만 제공
# count : nan값을 제외한 컬럼 데이터수
# mean : 평균
# std : 표준 편차
# min,max : 최소,최대값
# 사분위수 : 값의 범위를 4분위로 나눈 수. 50%는 값이 두개라면 그 둘을 평균낸다.
stocks.describe()

In [ ]:
stocks[stocks['Name'] != '삼성전자']['Marcap'].plot(kind='box')
# stocks['Marcap'].plot(kind='box')

In [ ]:
stocks.describe?

In [32]:
# 문자열 컬럼(범주형)에 대한 요약 통계
# count : 컬럼값의 수(nan값은 제외)
# unique : 중복되지 않는 값의 종류(컬럼의 고유값 갯수)
# top : 최빈값(가장 빈번하게 나타나는 값), 모든 컬럼이 unique하다면 최상단 항목이 표시됨
# freq : 최빈값의 빈도

stocks.describe(include='O')

          Code        ISU_CD  Name  Market  Dept Close ChangeCode MarketId
count     2855          2855  2855    2855  2855  2855       2855     2855
unique    2855          2855  2855       4    10  1997          6        3
top     005930  KR7005930003  삼성전자  KOSDAQ        2080          1      KSQ
freq         1             1     1    1728   959     9       2473     1776

In [33]:
# 고유값의 목록 확인
print(stocks['ChangeCode'].unique())
print(type(stocks['ChangeCode'].unique()))

['1' '2' '3' '0' '5' '4']
<class 'numpy.ndarray'>

In [34]:
# 고유값의 목록,갯수 확인
print(stocks['ChangeCode'].value_counts())
print(type(stocks['ChangeCode'].value_counts()))

ChangeCode
1    2473
2     169
0     136
3      53
4      19
5       5
Name: count, dtype: int64
<class 'pandas.core.series.Series'>

In [35]:
# 데이터 프레임의 컬럼 메타정보
stocks.columns

Index(['Code', 'ISU_CD', 'Name', 'Market', 'Dept', 'Close', 'ChangeCode',
       'Changes', 'ChagesRatio', 'Open', 'High', 'Low', 'Volume', 'Amount',
       'Marcap', 'Stocks', 'MarketId'],
      dtype='object')

In [36]:
# 데이터 프레임의 컬럼의 인덱스 메타정보
stocks.index

RangeIndex(start=0, stop=2855, step=1)

In [37]:
# 컬럼 제거 : 필요없는 행이나 열을 제거
new_stocks = stocks.drop('ISU_CD', axis=1)
new_stocks_desc = stocks_desc.drop(['Name', 'Market'], axis=1)
print(new_stocks.columns)
print(new_stocks_desc.columns)

Index(['Code', 'Name', 'Market', 'Dept', 'Close', 'ChangeCode', 'Changes',
       'ChagesRatio', 'Open', 'High', 'Low', 'Volume', 'Amount', 'Marcap',
       'Stocks', 'MarketId'],
      dtype='object')
Index(['Code', 'Sector', 'Industry', 'ListingDate', 'SettleMonth',
       'Representative', 'HomePage', 'Region'],
      dtype='object')

In [ ]:
display(new_stocks_desc)

In [ ]:
display(new_stocks)

In [40]:
stocks_columns = ['Code', 'Name', 'Market', 'Close',
       'Changes', 'ChagesRatio', 'Open', 'High', 'Low', 'Volume', 'Amount',
       'Marcap', 'Stocks', 'MarketId']

In [41]:
stocks_desc_columns = ['Code','Sector', 'Industry', 'ListingDate',
       'SettleMonth', 'Representative', 'HomePage', 'Region']

In [42]:
stocks_desc.columns

Index(['Code', 'Name', 'Market', 'Sector', 'Industry', 'ListingDate',
       'SettleMonth', 'Representative', 'HomePage', 'Region'],
      dtype='object')

In [43]:
stocks_desc = stocks_desc[stocks_desc_columns]

In [44]:
stocks = stocks[stocks_columns]

#### 2개의 데이터 프레임 합치기

- merge : 가로방향으로 열 추가

In [45]:
import pandas as pd

In [ ]:
pd.merge?

In [47]:
#new_stocks join new_stocks_desc

new_stocks = pd.merge(new_stocks,new_stocks_desc)

In [48]:
new_stocks.shape

(2855, 23)

In [ ]:
new_stocks.head(1)

In [ ]:
new_stocks_desc.head(1)

#### 엑셀로 저장하기

In [51]:
# 엑셀로 저장하기
print(new_stocks.shape)
new_stocks.to_excel('stocks.xlsx',index=False)

(2855, 23)

In [52]:
df = pd.read_excel('stocks.xlsx')

In [53]:
df.shape

(2855, 23)

In [54]:
new_stocks.shape

(2855, 23)

#### CSV로 저장하기

In [55]:
# CSV파일로 저장하기
new_stocks.to_csv('stocks.csv',index=False)

### 주식 데이터 가져오기

In [ ]:
# 삼성전자 주식 데이터 가져오기
# 데이터 가져오는 문법 : fdr.DataReader('Code' , '시작기간', '끝기간')
df = fdr.DataReader('005930', '2024-11-01', '2024-12-04')
print(df)

In [ ]:
# KOSPI 지수 데이터 가져오기
df_kospi = fdr.DataReader('KOSPI', '2023-01-01', '2023-12-01')
print(df_kospi)

In [ ]:
# 원/달러 환율 데이터 가져오기
df_usd_krw = fdr.DataReader('USD/KRW', '2023-01-01', '2023-12-01')
print(df_usd_krw)

### 특정 기간의 거래량 분석

- 거래량을 분석하여 특정 주식의 트렌드를 파악하기

In [ ]:
import matplotlib.pyplot as plt

# 삼성전자 데이터 가져오기
df_samsung = fdr.DataReader('005930', '2023-01-01', '2023-12-01')

# 거래량 시각화
plt.figure(figsize=(12, 6))
plt.plot(df_samsung['Volume'], label='Volume', color='blue')
plt.title('Samsung Electronics Volume')
plt.xlabel('Date')
plt.ylabel('Volume')
plt.legend()
plt.show()

### 여러 종목의 데이터 비교

- 여러 종목의 주식 데이터를 가져와서 비교

### 특정 날짜의 주식 데이터 조회

- 특정 날짜의 주식 데이터를 조회하는 방법

In [ ]:
# 특정 날짜의 삼성전자 데이터 조회
date = '2023-05-01'
samsung_data_on_date = fdr.DataReader('005930','2023-01-01', '2023-12-01')
print(samsung_data_on_date)

##### 주식의 변동률 계산

특정 기간동안 변동률을 계산하여 주식의 성과를 평가

In [ ]:
# 삼성전자 주식 데이터 가져오기
df_samsung = fdr.DataReader('005930', '2023-01-01', '2023-12-01')

# 변동률 계산
df_samsung['Returns'] = df_samsung['Close'].pct_change() * 100
print(df_samsung[['Close', 'Returns']])