In [24]:
import pandas as pd
# from math import log
import numpy as np

In [37]:
np.log(1000)

6.907755278982137

In [1]:
corpus = [
    '배우고 싶은 자연어',
    '배우고 싶은 딥러닝',
    '딥러닝 머신러닝 배우고 싶은 머신러닝',
    '자연어 처리 좋아요'
]

In [5]:
# set : 리스트에서 중복된 값 제거
vocab = list(set([w for doc in corpus for w in doc.split()]))
vocab.sort()

In [6]:
vocab

['딥러닝', '머신러닝', '배우고', '싶은', '자연어', '좋아요', '처리']

In [8]:
N = len(vocab)
N

7

In [25]:
# 문서 수
dc = len(corpus)

# 단어 빈도(term-frequency)
def tf(t, d):
    return d.count(t)

# inverse-문서 빈도
def idf(t):
    # 문서빈도 초기화
    df = 0
    for doc in corpus:
        # True면 1을 누적하고, False면 0을 누적
        df += t in doc

    # return np.log( dc / (df + 1) )
    return np.log( (dc + 1) / (df + 1) ) + 1    # 전체 문서수 / 단어가 등장하는 문서 수

# 단어빈도 * Inverse 문서빈도 => 가중치
def tfidf(t, d) :
    return tf(t,d) * idf(t)

In [19]:
result = []
for i in range(dc) :
    result.append([])
    d = corpus[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tf(t,d))

tf_ = pd.DataFrame(result, columns = vocab)

In [20]:
tf_

   딥러닝  머신러닝  배우고  싶은  자연어  좋아요  처리
0    0     0    1   1    1    0   0
1    1     0    1   1    0    0   0
2    1     2    1   1    0    0   0
3    0     0    0   0    1    1   1

In [26]:
result = []
for j in range(len(vocab)) : 
    t = vocab[j]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index=vocab, columns=['IDF'])
idf_

           IDF
딥러닝   0.287682
머신러닝  0.693147
배우고   0.000000
싶은    0.000000
자연어   0.287682
좋아요   0.693147
처리    0.693147

In [27]:
result = []
for i in range(dc) :
    result.append([])
    d = corpus[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result, columns = vocab)
tfidf_

        딥러닝      머신러닝  배우고   싶은       자연어       좋아요        처리
0  0.000000  0.000000  0.0  0.0  0.287682  0.000000  0.000000
1  0.287682  0.000000  0.0  0.0  0.000000  0.000000  0.000000
2  0.287682  1.386294  0.0  0.0  0.000000  0.000000  0.000000
3  0.000000  0.000000  0.0  0.0  0.287682  0.693147  0.693147

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [34]:
tfidfvect = TfidfVectorizer()
X = tfidfvect.fit_transform(corpus)
X

<4x7 sparse matrix of type '<class 'numpy.float64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [35]:
tfidfvect.vocabulary_

{'배우고': 2, '싶은': 3, '자연어': 4, '딥러닝': 0, '머신러닝': 1, '처리': 6, '좋아요': 5}

In [36]:
tfidfvect.idf_

array([1.51082562, 1.91629073, 1.22314355, 1.22314355, 1.51082562,
       1.91629073, 1.91629073])