In [13]:
import pandas as pd

In [14]:
filename = './../data/memberInfo.csv'
df = pd.read_csv(filename, index_col='id')
df

#눈에보이는건 인덱스 '이름', 물리적인 인덱스 번호는 기본적으로 보이지 않음
# df = pd.read_csv(filename)
# df

     kor  eng
id
김철수   60   70
홍길동   70   75
박영희   80   80

In [15]:
df.columns

Index(['kor', 'eng'], dtype='object')

In [16]:
type(df.index)

pandas.core.indexes.base.Index

In [17]:
df.index

Index(['김철수', '홍길동', '박영희'], dtype='object', name='id')

In [18]:
type(df.values)

numpy.ndarray

In [19]:
df.values

array([[60, 70],
       [70, 75],
       [80, 80]], dtype=int64)

In [20]:
print('시리즈와 apply 메서드')

시리즈와 apply 메서드

In [21]:
print( '일반적인 산술 연산' )
df['kor'] + 5

일반적인 산술 연산

id
김철수    65
홍길동    75
박영희    85
Name: kor, dtype: int64

In [22]:
def plus5(x):
    return x + 5

In [23]:
print('apply 함수를 적용한 결과')
sq = df['kor'].apply(plus5) 
sq

apply 함수를 적용한 결과

id
김철수    65
홍길동    75
박영희    85
Name: kor, dtype: int64

In [24]:
def gob(x, n):
    return n * x

In [25]:
ex = df['kor'].apply(gob, n=2) 
ex

id
김철수    120
홍길동    140
박영희    160
Name: kor, dtype: int64

In [26]:
ex = df['kor'].apply(gob, n=3) 
ex

id
김철수    180
홍길동    210
박영희    240
Name: kor, dtype: int64

In [11]:
# 매개변수가 단일값이 input이 아님. (series)
def applyByColumn(col):
    mysum = 0
    for item in col:
        mysum += item
    return mysum / df.shape[0]

#df.shape[0] : 행의 갯수

In [12]:
# 데이터프레임 대상으로 apply를 적용할땐 축이 등장
# apply는 series단위

df.apply(applyByColumn, axis = 0)

kor    70.0
eng    75.0
dtype: float64

In [13]:
def applyByRow(row):
    mysum = 0
    for item in row:
        mysum += item
    return mysum / df.shape[1] 

#df.shape[1] : 열의 갯수

In [14]:
df.apply(applyByRow, axis = 1)

id
김철수    65.0
홍길동    72.5
박영희    80.0
dtype: float64

In [27]:
df.map?

Signature: df.map(func: 'PythonFuncType', na_action: 'str | None' = None, **kwargs) -> 'DataFrame'
Docstring:
Apply a function to a Dataframe elementwise.

.. versionadded:: 2.1.0

   DataFrame.applymap was deprecated and renamed to DataFrame.map.

This method applies a function that accepts and returns a scalar
to every element of a DataFrame.

Parameters
----------
func : callable
    Python function, returns a single value from a single value.
na_action : {None, 'ignore'}, default None
    If 'ignore', propagate NaN values, without passing them to func.
**kwargs
    Additional keyword arguments to pass as keywords arguments to
    `func`.

Returns
-------
DataFrame
    Transformed DataFrame.

See Also
--------
DataFrame.apply : Apply a function along input axis of DataFrame.
DataFrame.replace: Replace values given in `to_replace` with `value`.
Series.map : Apply a function elementwise on a Series.

Examples
--------
>>> df = pd.DataFrame([[1, 2.12], [3.356, 4.567]])
>>> df
       0      1
0  1.000  2.120
1  3.356  4.567

>>> df.map(lambda x: len(str(x)))
   0  1
0  3  4
1  5  5

Like Series.map, NA values can be ignored:

>>> df_copy = df.copy()
>>> df_copy.iloc[0, 0] = pd.NA
>>> df_copy.map(lambda x: len(str(x)), na_action='ignore')
     0  1
0  NaN  4
1  5.0  5

It is also possible to use `map` with functions that are not
`lambda` functions:

>>> df.map(round, ndigits=1)
     0    1
0  1.0  2.1
1  3.4  4.6

Note that a vectorized version of `func` often exists, which will
be much faster. You could square each number elementwise.

>>> df.map(lambda x: x**2)
           0          1
0   1.000000   4.494400
1  11.262736  20.857489

But it's better to avoid map in that case.

>>> df ** 2
           0          1
0   1.000000   4.494400
1  11.262736  20.857489
File:      d:\kdt\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      method

In [28]:
df

     kor  eng
id
김철수   60   70
홍길동   70   75
박영희   80   80

In [30]:
#map은 모든 단일요소에 각각 적용되기때문에 axis가 필요없다.

In [29]:
df.map(lambda x : x * 2)

     kor  eng
id
김철수  120  140
홍길동  140  150
박영희  160  160